# JS
package.json
package-lock.json
test_files/node_modules/
node_modules/

# Python
python/__pycache__
*.pyc
requirements.txt

# Vim.org and GitHub releases file
dist/

# Rust
src/
main.rs
Cargo.lock
Cargo.toml

# Added by cargo
/target

# ---

# Conan trash
conan.lock
*.cmake
conanbuild*
conanrun*
deactivate_*
CMakePresets.json

# Gradle trash
gradle/
.gradle/
gradlew
gradlew.bat
gradle-wrapper.jar
gradle-wrapper.properties
*.gradle.kts
settings.gradle.kts
libs.versions.toml
gradle.properties

# Neccessary files
!lua/LazyDeveloperHelper/python/java_installer/gradle_install.py
!lua/LazyDeveloperHelper/python/java_installer/build.gradle.kts
!lua/LazyDeveloperHelper/python/java_installer/settings.gradle.kts

# Manual tests files
test_files/gradle*/
test_files/gradlew*
test_files/*.gradle*
