# JS
package.json
package-lock.json
test_files/node_modules/
node_modules/

# Python
python/__pycache__
*.pyc
requirements.txt

# Rust
src/
main.rs
Cargo.lock
Cargo.toml
# ---
# Symlink for work
LazyDeveloperHelper
# ---

# Added by cargo
/target
