package.json
package-lock.json
test_files/node_modules/
.env
python/__pycache__
*.pyc
LazyEnv/
requirements.txt
src/
main.rs
Cargo.lock
Cargo.toml


# for sonarcloud scanner, only on my system for better code quality
.scannerwork/


# Added by cargo
/target


# Added by cargo
#
# already existing elements were commented out

#/target
